@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');
/*---------------------------- vars---------------------------- */
:root {
	--white-color: white;
	--middlewhite-color: #ffffe2;
	--black-color: black;
	--red-color: #CA5D42;
	--yellow-color: #FFFFCC;
	--yellow-s-color: #FFED83;
	--orange-color: #D37F46;
	--orange-wtp: #ffd8abd4;
	--texto-articuloso-d: 'EB Garamond';
	--texto-head: 'Lily Script One';
	--texto-upper: 'Bebas Neue';
	--texto-mech: 'Roboto Mono';
	--texto-credits: 'Fjalla One';
}

/* -------------------------globales------------------------- */

*{
	box-sizing: border-box;
}

body {
	font-family: Arial;
	margin:0px;
	background-color: var(--red-color);
}

header {
	background-color: var(--black-color);
	height: 60px;
}

a {
	text-decoration: none;
}
/*----------------------Estilo del navegador-----------------------*/

nav {
	text-align: center;
	font-family: var(--texto-upper);
	font-weight: 200;
	font-size: 20px;
	letter-spacing: 1px;
	margin: auto;
	width: 1000px;
}

.menu ul {
	height: 60px;
	display: flex;
	align-items: center;
	margin: auto;
	justify-content: space-around;
	list-style: none;
	padding: 0;
}

.link {
	color: var(--middlewhite-color);
	text-decoration: none;
}


/*-----------------------Estilo del banner-------------------------*/

.banner {
	text-align: center;
	height: 300px;
	font-family: var(--texto-head);
	line-height: 4px;
	background-color: var(--yellow-color);
}

.banner-container {
	margin: auto;
	width: 450px;
	display: flex;
	align-items: center;
}

.banner-container-tittle {
	width: 300px;

}

.banner-img img {
	height: 150px;
}

.banner-container h4 {
	text-align: left;
	font-size: 60px;
	font-weight: 600;
}

.banner-container h1 {
	font-size: 100px;
	font-weight: 100;
	text-decoration: underline;
}

.banner-container h6 {
	font-family: var(--texto-mech) ;
	font-size: 15px;
	text-align: right;
}
/*-----------------Estilo de los titulares---------------------*/
.news-week {
	text-align:center;
}

.news-weekWrapper-C{
	margin: auto;
	display: flex;
	width: 1000px;
}

.news-weekWrapper h2{
	font-family: var(--texto-upper);
	font-size: 40px;
	letter-spacing: 3px;
	color: var(--yellow-color);
}

.news-week-sides {
	width:600px;
	margin: 10px;
}

.news-week-sides h3{
	font-family: var(--texto-upper);
	color: var(--orange-color);
	font-size: 20px;
	letter-spacing: 2px;
	margin: 0;
}

.news-week-head:hover{
	background-color: var(--black-color);
}

.news-week-sides h3:hover{
	color: var(--middlewhite-color);
}

.news-week-container{
	margin: 10px;
	width: 480px;
}

.news-week-head {
	background-color: var(--orange-wtp);
	position: relative;
	height: 60px;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;

}


.news-week-description {
	font-family: var(--texto-mech);
	background-color: var(--yellow-color);
	height: 200px;
	overflow: hidden;
	margin-top: -5px;
	border-radius: 0 0 5px 5px;
	text-align: left;
	padding: 10px;
}

/*------------------------Estilo de Cards----------------------------*/

.cards-cont {
	text-align: center;
	padding: 40px;
	width: 1000px;
	margin: auto;
	display: flex;
}

.card {
	background-color: var(--yellow-color);
	width: 350px;
	margin: 10px;
	height: 300px;
	border-radius: 8px;
	overflow: hidden;
}

.card:hover{
	border: var(--red-color) 3px solid;
}

.card-tittle-container {
	height: 80px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-bottom: var(--orange-wtp) 5px solid;
}

.card-tittle-container:hover{
	background-color: var(--red-color);
}

.card-tittle {
	font-family: var(--texto-upper);
	color: var(--orange-color);
	margin: 0;
}

.card-tittle:hover{
	color: var(--yellow-color);
	font-weight: 200;
}

.card-description {
	font-family: var(--texto-mech);
	font-size: 13px;
	margin: 20px 15px;
	height: 250px;
	padding: 0px 5px;
	overflow: hidden;
	text-align: left;

}
/*---------------------------Articulos-----------------------------*/

.nota-container{
	width: 1000px;
	margin: auto;
	display: flex;
	justify-content: space-between;
	padding-top: 20px;
}

.nota-wrap {
	width: 700px;
	margin-bottom: 30px;
}

.nota-wrap-tittle {
	font-family: var(--texto-upper);
	font-size: 30px;
	color: var(--yellow-color);
	text-align: center;
	font-weight: lighter;
	letter-spacing: 2px;
}

.nota-wrap-description {
	font-family: var(--texto-articuloso-d);
	background-color: var(--yellow-color);
	padding: 25px;
	border-radius: 10px;
}

.nota-wrap-credits {
	width: 300px;
	margin-right: auto;
	text-align: left;
}

.nota-wrap-credits h3 {
	font-family: var(--texto-upper);
	font-weight: 100;
	margin: 0;
}

.nota-wrap-credits h4 {
	font-family: var(--texto-credits);
	font-weight: 200;
	margin: 0;
	color: var(--red-color);
}

.side-more {
	width: 250px;
	padding-top: 40px;
}

.side-more-card {
	height: 300px;
	background-color: var(--orange-wtp);
	border-radius: 5px;
	margin: 10px 0px;
}

.side-card-tittle {
	color: var(--red-color);
	height: 70px;
	width: 225px;
	margin: auto;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.side-card-tittle h3 {
	font-family: var(--texto-upper);
	margin: 0;
	font-weight: 200;
	font-size: 15px;
}

.side-card-description {
	height: 200px;
	width: 225px;
	padding: 0px 5px;
	margin: auto;
	background-color: var(--yellow-color);
	border-radius: 5px;
	font-family: var(--texto-articuloso-d);
	font-size: small;
	overflow: hidden;
}

/* -------------------------stilos menu------------------------- */
.banner-sec {
	height: 200px;
}

.banner-article-sec {
	height: 200px;
	width: 1000px;
	display: flex;
	justify-content: center;
}

.banner-article-sec h1{
	text-align: left;
}

.menu-tittle-nav h2{
	margin-top: 0px;
	text-align: left;
	color: var(--red-color);
}

.menu-tittle-nav:hover {
	background-color: var(--orange-wtp);
}

.menu-tittle-nav h2:hover{
	text-align: center;
	cursor: pointer;
}

.post-article-sec {
	margin-top: 30px;
	padding: 20px 30px;
	height: 300px;
}

.article-sec-col {
	display: flex;
	align-items: center;
}
.article-sec-col-side{
	padding-right: 10px;
}

.article-sec-col img{
	height: 150px;
	width: 220px;
}

main .container {
	margin-bottom: 20px;
}

/*---------------------------Footer-----------------------------*/

footer {
	background-color: var(--black-color);
	height: 80px;
	font-family: var(--texto-upper);
	display: flex;
	align-items: center;
	width: 100%;
	position: relative;
	bottom: 0;
	color: var(--middlewhite-color);
}

.container {
	width: 1000px;
	margin: auto;
	text-align: center;
}

.social-links a{
	color: var(--middlewhite-color);
	margin: 5px;
	font-size: 40px;
}